:root {
    --icon-padding: 2em;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

* {
    margin: 0;
    padding: 0;
}

body {
<<<<<<<< HEAD:produktsida.css

    /* Start på header*/

========
    overflow-x: hidden;
    width: 100%; 
>>>>>>>> omoss:omoss.css
}

header {
    height: 8vh;
    width: 100vw;
    min-width: 15em;
    background-color: #142359;
}

.headerbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-bild {
    margin-top: 0.5em;
}

.shop-bag {
    height: var(--icon-padding);
    width: var(--icon-padding);
    margin-left: 1em;
}

.ham-meny {
    height: 2em;
    width: 2em;
    margin-right: 1em;
}

/* Start på main */

<<<<<<<< HEAD:produktsida.css
main {
========
main{
>>>>>>>> omoss:omoss.css
    height: 82vh;
    display: grid;
    grid-template-columns: 1;


}

.imgbox {
    display: flex;
    margin-top:6em;
    flex-direction: column;
    align-items: center;
}

.prod-botrow {
    display: flex;
    flex-direction: row;
    justify-content: ;

}

.ikoner{
    width: 100%;
    display: flex;
    justify-content: space-around;

}

/* om dom ska länkas */
/*.ikoner > .ikon1 {
}
.ikoner > .ikon2 {
}
.ikoner > .ikon3 {
} */



/* Start på footer*/

footer {
    background-color: #142359;
    color: white;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_list li {
    list-style: none;
}

.logo_list {
    display: flex;
    gap: 0.5em;
}

.container-omoss{
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    
}

h2{
    text-align: center;
    margin: 0;
    padding-top: 0.5em;
}
.profil-omoss{
    position: relative;
    left: 2em;
    top: 1em;
    display: flex;
    align-items: flex-start;
    text-align: center;
    width: 260px;
    
}

.omoss-img{
margin-right: 1em;
margin-bottom: 2em;
    
}

img.loggan-omoss{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
    height: 7em
    
}

h4{
    width: 300px;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}