* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    height: 8vh;
    width: 100%;
    background-color: #142359;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-bild {
    margin-top: 0.5em;
}

.shop-bag {
    height: 2.5em;
    width: 2.5em;
    margin-left: 1em;
}

/* avgränsning header */
main {
    width: auto;
}

main .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container .prod {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.bild {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 85%;
    height: 85%;
}

/* avgränsing footer */
footer {
    background-color: #142359;
    color: white;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.logo_list li {
    list-style: none;
}

.logo_list {
    display: flex;
    gap: 0.5em;
}

.hamburger {
    position: relative;
    right: 3em;
    margin-right: 10px;
    margin-left: 0;
}

.hamburger span {
    position: relative;
    bottom: 0.3em;
    left: 3em;
    height: 3px;
    width: 30px;
    background: white;
    display: block;
    margin: 5px;
}

.trigger:checked~.hamburger span:first-child {
    transform: rotate(45deg);
    top: 8px;
}

.trigger:checked~.hamburger span:last-child {
    transform: rotate(-45deg);
    top: -8px;
}

.trigger:checked~.hamburger span:nth-child(2) {
    opacity: 0;
}

.trigger {
    display: none;
}

.trigger:checked~nav {
    right: 0;
    transition: right 0.3s ease-in-out;
    display: block;
}

nav {
    background: #142359;
    width: auto;
    /* height: 40vh; */
    padding: 30px 80px;
    position: absolute;
    /* right: -100vw; */
    top: 3.8em;
    transition: right 0.3s ease-in-out;
    display: none;
}

.ham-ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ham {
    margin-bottom: 10px;
    padding-bottom: 1em;
}

.menu-a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

button {
    background-color: white;
    border: none;
}


@media (min-width: 730px) {
    main .container {
        grid-template-columns: 1fr 1fr 1fr;
        width: 50em;
        /* height: 82%; */
    }

    .fancy {
        background: #142359;
        position: relative;
    }

    .fancy::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: currentColor;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in;
    }

    .fancy:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    button+.ikon {
        margin-left: 1em;
    }

    button::after {
        cursor: pointer;
        fill: green;
        padding: 1em 1.5em;
        position: relative;
        z-index: 1;
    }

    button-one::after {
        transform: scaleX(0.5);
        transform-origin: left;

    }

    button-one:hover::after {
        transform: scaleX(1);
    }


}