:root {
    --icon-padding: 2em;
}


* {
    margin: 0;
    padding: 0;
}

body {
    /* position: fixed; */
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
}

header {
    min-height: 8vh;
    width: 100vw;
    min-width: 15em;
    background-color: #142359;
}

.headerbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-bild {
    margin-top: 0.8em;

}

.logo-bild:hover{
    transform: scale(1.3);
}
.shop-bag {
    height: 2.5em;
    width: 2.5em;
    margin-left: 1em;
}

.ham-meny {
    height: 2.5em;
    width: 2.5em;
    margin-right: 1em;
}

/* Start på main */


main {
    height: 82vh;
    display: grid;
    grid-template-columns: 1;
    overflow: scroll;
}

.imgbox {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1em;
    flex-direction: column;
}

.prod-img {
    
    font-size: 15px;
}

.prod.namn {}

h1 {
    text-align: center;
}

.prod-p {
    text-align: center;
    margin-top: 0.2em;
    width: 300px;
    font-size: 20px;
}


.prod-namn h2 {
    color: 8B8B8B;
    margin-bottom: 1em;
    font-size: 18px;
}

.produktsida-add-to-cart-button {
    margin-top: 2em;
    border-radius: 7px;
    border: solid #142359;
    background-color: #142359;
    margin: 1em;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.produktsida-visa-tillbehör-knapp  {
    margin-top: 0.5em;
    border-radius: 7px;
    border: solid #142359;
    background-color: #142359;
    margin-bottom: 5em;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.armband-text {
    margin-top: 1em;
}


footer {
    background-color: #142359;
    color: white;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.logo_list li {
    list-style: none;
}

.logo_list {
    display: flex;
    gap: 0.5em;
}

h2 {
    text-align: center;
    margin: 0;
    padding-top: 0.5em;
}



.hamburger {
    position: relative;
    right: 3em;
    margin-right: 10px;
    margin-left: 0;
    
}

.hamburger span {
    position: relative;
    bottom: 0.3em;
    left: 3em;
    height: 3px;
    width: 30px;
    background: white;
    display: block;
    margin: 5px;
    
    
}

.trigger:checked~.hamburger span:first-child {
    transform: rotate(45deg);
    top: 8px;
}


.trigger:checked~.hamburger span:last-child {
    transform: rotate(-45deg);
    top: -8px;
}


.trigger:checked~.hamburger span:nth-child(2) {
    opacity: 0;
}

.trigger {
    display: none;
    
}

.trigger:checked~nav {
    right: 0;
    transition: right 0.3s ease-in-out;
    display: block;
    
}


nav {
    background: #142359;
    width: auto;
    padding: 30px 80px;
    position: absolute;
    display: none;
    top: 3.8em;
    transition: right 0.3s ease-in-out;
}

.ham-ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
}

.ham {
    margin-bottom: 10px;
    padding-bottom: 2.5em;
}

.meny-a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
}




@media (min-width: 730px) {
    main .container {
        grid-template-columns: 1fr 1fr 1fr;
        width: 50em;
        /* height: 82%; */
    }
    .fancy{
        background: #142359;
        position: relative;
    }
    .fancy::after{
        content:"";
        position:absolute ;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color:currentColor ;     
        
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 250ms ease-in;
    }
    .fancy:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
    
}







