@viewport {
    width: device-width;
    zoom: 1.0;
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */

}

body {
    position: fixed;
    overflow-x: hidden;
    width: 100%; 
  
       
}

header {
    height: 8vh;
    width: 100vw;
    min-width: 15em;
    background-color: #142359;

}

.headerbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-bild {
    margin-top: 0.5em;

}

.shop-bag {
    height: 2.5em;
    width: 2.5em;
    margin-left: 1em;
}


main {
    height: 82vh;
}

img.gif {
    width: 20em;
    margin-bottom: 1em;
}


footer {
    background-color: #142359;
    color: white;
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_list li {
    list-style: none;
}

.logo_list {
    display: flex;
    gap: 0.5em;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
     align-items: center 
}




/* Här börjar hälsodata */
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
     align-items: center 
}

.health-list {}

.health {
    position: relative;
    top: 6em;
    width: 15em;
    height: 1em;
    border-radius: 7px;
    border: solid #142359;
    background-color: #142359;
    margin: 1em;
    padding: 1em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.samlade-data {
    position: relative;
    bottom: 10em;    
}

.första-health {
    text-align: center;
}

.sista-health {
    margin-bottom: 0.5em;
}

.data-ikoner {
    width: 40px;
    position: relative;
    left: 1px;
    bottom: 10px;
    float: left;
    padding-right: 1em;
    margin-top: 0;
}

div.health{
    position: relative;
    
    
}
.länkar-ikoner{
    color: white;
    position: absolute;
    text-decoration: none;

}

p.stat-info{
    
    width: 400px;
    
}

/* Här slutar hälsodata */

.hamburger {
    position: relative ;
    right: 3em;
    margin-right: 10px;
    margin-left: 0;
    
}

.hamburger span {
    position: relative;
    bottom: 0.3em;
    left: 3em;
    height: 3px;
    width: 30px;
    background: white;
    display: block;
    margin: 5px;
        
    
}

.trigger:checked ~.hamburger span:first-child{
    transform: rotate(45deg);
    top: 8px;
}


.trigger:checked ~.hamburger span:last-child{
    transform: rotate(-45deg);
    top: -8px;
}


.trigger:checked ~.hamburger span:nth-child(2){
    opacity: 0;
}

.trigger{
    display: none;
  
}

.trigger:checked ~ nav{
    right: 0;
    transition: right 0.3s ease-in-out;

}


nav {  
    background: #142359;     
    width: auto;          
    padding: 30px 80px;
         position: absolute;     
         right: -100vw;     
         top: 3.8em;     
         transition: right 0.3s ease-in-out; }

.ham-ul{

    list-style: none;
    margin: 0;
    padding: 0;
}

.ham{
    margin-bottom: 10px;
    padding-bottom: 2.5em;
}

.meny-a{
    text-decoration: none;
     color: white;
     font-size: 24px;
     font-family: 'Quicksand', sans-serif;
}