@viewport {
    width: device-width;
    zoom: 1.0;
}

* {
    border:0;
    padding:0;
}

body {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

header {
    height: 8vh;
    width: 100vh;
    min-width: 15em;
    background-color: #142359;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    flex-wrap: nowrap

}

.logo-bild {
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;
    
}


footer {

}

/* .container {
    max-width: 1000px;
    height: 80vh;
    background-color: blue;
} */

/* .container .box {
    min-width: 3em;
    height: 2em;
    background-color: rgb(189, 39, 39);
} */ 